
//COLORS
$white: #ffffff;
$black: #000000;
$primary-bg: #e5e4e2;
$light-gray: #d3d3d3;
$green: #00BFA6;
$red: #F50057;
$fade: hsl(212, 20%, 68%);
$lilfade: hsl(212,20%, 13%);
$brdclr: hsl(210, 23%, 95%);


// MEDIA SCREENS VARIABLES
$desktop: 1025px;
$laptop: 768px;
$tablet: 500px;
