@import "./variable";

.dashboard{
    flex: 1;
    flex-direction: column;
    display: flex;
    .flex-all{
        flex: 1;
    }
    &-main{
        flex: 1;
        height: 100%;
        padding:0.5rem 1rem;
    }
    .welcome{
        border-radius: 5px;
        display: flex;
        gap: 1rem;
        padding: 1rem;
        justify-content: center;
        background-color: $primary-bg;
        &-text{
            flex: 1.5;
            h2{
                font-size: 1.7rem;
            }
        }
        .welcome-img{
            flex: 1;
            position: relative;
            height: 100px;
            img{
                width: 80%;
                bottom: -1rem;
                margin: auto;
                position: absolute;
            }
        }
    }
}