@import "./variable.scss";
@import "./base";

.landing{
    width: 100%;
}
.landing-container{
    width: 90%;
    height: max-content;
    margin: 10px auto;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 2rem;
    @media screen and (max-width: $laptop) {
        width: 100%;
        flex-direction: column-reverse;
    }
    .landing-herobox{
        flex: 1;
        @include flex($justify:center,$pad:1.5rem, $direction:column,$gap:1.3rem, $align:flex-start);
        h1{
            font-size: 2.5rem;
            font-family: "monument-extended";
            @media screen and (max-width: $tablet) {
                font-size: 2rem;
            }
        }
        .herotext{
            font-size: 21px;
            line-height: 130%;
        }
        .herolink{
            font-size: 21px;
            display: flex;
            gap: 1rem;     
            border: 2px dashed $light-gray;
            width: max-content;
            padding: 0.5rem 1rem;
            cursor: pointer;       
            .login{
                color: $green;
                text-decoration: underline;
            }
            .signup{
                color: $red;
                text-decoration: underline;
            }
        }
    }
    .landing-heroimage{
        flex:1;
        @include flex($justify:center);
        background-color: $green;
        border-radius: 20% 5px;
        @media screen and (max-width: $laptop) {
            padding: 1rem;
            background-color: inherit;
        }
        img{
            width: 80%;
            height: 80%;
            object-fit: fill;
            @media screen and (max-width: $laptop) {
                width: 80%;
            }
        }
    }
}

