@import "./_variable.scss";
@import "./base";

.navigation{
    @include flex( $justify: space-between);
    width: 90%;
    margin: auto;
    padding: 0.3rem;
    @media screen and (max-width: $laptop) {
        width: 100%;
    }
    &-sub{
        @include flex($gap:2.5rem);
        font-size: 1.2rem;
    }

    .login{
        @include btn($clr: $green, $bkgrd: $primary-bg, $pad: 0.9rem 1.5rem);
    }

    @media screen and (max-width: $tablet) {
        &-sub{
            gap: 1.2rem;
            font-size: 1rem;
            font-weight: bold;
        }
    }
}