@import "./_variable.scss";

.navigation{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    @media screen and (max-width: $laptop) {
        width: 100%;
        padding: 0.5rem;
    }
    &-sub{
        display: flex;
        align-items: center;
        gap: 2.5rem;
        font-size: 1.2rem;
    }

    .login{
        color: $green;
        background-color: $primary-bg;
    }

    @media screen and (max-width: $tablet) {
        &-sub{
            gap: 1.2rem;
        }
    }
}