@import "./variable";
@import "./base";

.flex-new{
    @include flex($align:initial, $direction:column);
    flex:1;
    .flex-all{
        flex: 1;
    }
}
.new{
    height: 100%;
    padding: 1rem;
    flex: 1;
    background-color: $primary-bg;
    .form{
        @include flex($direction:column, $align: initial, $gap: 1rem);
        .text{
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: $white;
            font-family: inherit;
            box-shadow: $white 0px 2px 2px;
        }
        .label{
            font-size: 0.8rem;
            font-weight: 700;
        }
        .flex-inputs{
            @include flex($justify:space-between, $align:initial);
            flex-wrap: wrap;
            .flex-radio{
                @include flex($gap: 50px, $align:initial);
                flex-wrap: wrap;
            }
            .radio{
                display: inline;
                width: max-content;
                margin-right: 5px;
                cursor:pointer;
                accent-color: $red;
            }
        }
        .btn-ctn{
            text-align: right;
        }
        button{
            background-color: $green;
            color: $white;
            padding: 1rem 2rem;
            font-weight: 700;
            border-radius: 5px;
            &:hover{
                background-color: $red;
                transform: scale(1.1);
                color:$black;
                transition: all 100ms ease-out;
            }
        }
        .textarea{
            @extend .text;
            min-width: 450px;
        }
    }
}