@import "./variable";
@import "./base";

.new{
    height: 100%;
    padding: 1rem;
    background-color: $primary-bg;
    h3{
        text-align: center;
        font-family: 'Noto Serif', serif;
    }
    .form{
        @include flex($direction:column, $align: initial, $gap: 1rem);
        .text{
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: $white;
            font-family: inherit;
            box-shadow: $white 0px 2px 2px;
        }
        .label{
            font-size: 0.8rem;
            font-weight: 700;
        }
        .flex-inputs{
            @include flex($gap: 3rem, $align:initial);
            flex-wrap: wrap;
            .flex-radio{
                @include flex($gap: 50px, $align:initial);
                flex-wrap: wrap;
            }
            .radio{
                display: inline;
                width: max-content;
                margin-right: 5px;
                cursor:pointer;
                accent-color: $red;
            }
        }
        .btn-ctn{
            text-align: right;
        }
        button{
            background-color: $green;
            color: $white;
            padding: 1rem 2rem;
            font-weight: 700;
            border-radius: 5px;
            &:hover{
                background-color: $red;
                transform: scale(1.1);
                color:$black;
                transition: all 0.3s ease-out;
            }
        }
        .textarea{
            @extend .text;
            width: 450px;
            @media screen and (max-width: $tablet) {
                width: 100%;
                min-width: none;
            }
        }
    }
}
@media screen and (max-width: $tablet) {
    .new{
        height: max-content;
    }
}