@import "./variable";

.sidebar{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:0 1.5rem;
    width: max-content;
    border-right: 2px solid $brdclr;
    color: $lilfade;
    .cancel{
        display: none;
        @media screen and (max-width: $tablet) {
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 10px; 
            display: block; 
        }
    }
    &-main{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem;
        width: max-content;
        .active{
            border-bottom: $black 2px double;
            font-weight: bold;
            svg{
                color: $black !important;
            }
        }
        .sidelink {
            transition: all 0.4s ease;
            svg{
            color: #808080;
            }
        }
        .sidelink:hover{
            svg{color: $red;}
            transform: scale(1.1);
            color: $red;
        }
    }
}
.mobile{
    display: none;
}
@media screen and (max-width: $tablet) {
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
        position: fixed;
        z-index: 7;
        background-color: white;
    }
}
