@import "./variable.scss";
@import "./base";

.modal-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: hsla(0, 0%, 100%, 0.4);
    @include flex($justify:center);
    .modal{
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 10px;
        // background-color: $white;
        border-radius: black 0px 3px 6px 12px;
        &-sect1{
            flex: 1;
            @include flex($justify:center);
            @media screen and (max-width: 820px ) {
                display: none;
            }
            img{
                width: 80%;
                height: 80%;
                object-fit: fill;
            }
        }
        &-sect2{
            @include flex($justify:space-between, $direction:column, $pad:1rem , $align:flex-start);
            flex:2;
            .flex-between{
                width: 100%;
            }
        }
    }
    .modal-form{
        width: 500px;
        margin: 1rem auto;
        @include flex($justify:center, $direction:column,$gap:1.5rem, $pad: 1rem 0);
        @media screen and (max-width: $laptop ) {
            width: 90%;
        }
        &-input-box{
            width: 100%;
            .input{
                padding:0.7rem 1rem;
                border-radius: 5px;
                border: none;
                background-color: rgba(222, 229, 241, 0.911);
                font-size: 18px;
                line-height: 25px;
                &::placeholder{
                    color: black;
                }
            }
        }
        button{
            font-weight: 700;
            color: white;
            width: 100%;
            padding: 0.7rem;
            &:hover{
                color: black;
                border-radius: 10px;
            }
        }
    }
}
