@import "./Styles/variable";
@import "./Styles/base";

@font-face{
  font-family: "monument-extended";
  src: url("./Fonts/MonumentExtended/MonumentExtended-Regular.otf");
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

body{
  font-family: "Poppins", sans-serif;
  background-color: $white;
  color: $black;
}
a{
  text-decoration: none;
  color: inherit;
}
.logo{
  font-size: 25px;
  font-family: "Caveat", cursive;
}
input{
  width: 100%;
}
.flex-between{
  @include flex($justify:space-between);
  width: 100%;
}
.center{
  text-align: center;
}
button{
  @include btn()
}
.green{
  color: $green;
  transition: all 0.4s ease;
  &:hover{
    color: $red;
  }
}
.red{
  color: $red;
  transition: all 0.4s ease;
  &:hover{
    color: $green;
  }
}
.pointer{
  cursor: pointer;
}
.bg-green{
  background-color: $green;
  transition: all 0.4s ease;
}
.bg-red{
  background-color: $red;
  transition: all 0.4s ease;
}
.flex-icons{
  display: flex;
  gap: 10px;
  align-items: center;
}
.flex-all{
  display: flex;
}
.flex-column{
  @include flex($direction: column, $gap:1.5rem, $align:initial);
}
.loading{
  @include flex( $justify:center );
  flex: 1;
}
.error{
  padding-left: 10px;
  color: $red;
  font-size: 0.8rem;
  line-height: 0.8rem;
}


// STYLING OF CURRENT COMPONENTS
.current{
  padding: 1rem;
  border-bottom: 2px solid $brdclr;
  background-color: $white;
  height: 3.5rem;
  .menu-box{
    @include flex($gap: 1rem)
  }
  .pathname{
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Noto Serif", serif;
  }
  .currentDate{
    font-style: italic;
  }
}
.menu{
  cursor: pointer;
  .bar{
    width: 20px;
    height: 2px;
    background: #333;
    transition: all 0.6s ease-in-out;
    display: block;
    margin: 5px ;
  }
  .first{
    width: 25px !important;
  }
  .second{
    width: 22.5px !important;
  }
  .firstChange{
    width: 15px;
  }
  .secondChange{
    width: 20px;
  }
  .thirdChange{
    width: 25px;
  }
}


// STYLING OF FIXED PROFILE
.fixed-profile{
  background-color: $primary-bg;
  border-left: $brdclr 2px solid;
  padding: 0.5rem 1rem;
  min-width: 270px;
  max-width: 25%;
  @media screen and (max-width: $laptop) {
    display: none;
  }
  section{
    @include flex($direction:column, $gap:2rem, $align:initial);
  }
  article{
    text-align: center;
  }
  .user-img-cont{
    margin: 0.5rem auto;
    width: 150px;
    height: 150px;
    background-color: $white;
    border-radius: 40%;
  }
  ul li{
    margin: 10px;
  }
}

//STYLING OF NOT-FOUND PAGE
.notfound{
  @include flex($justify:center);
  height: 100vh;
  section{
    text-align: center;
    img{
      width: 60%;
      @media screen and (max-width: $tablet) {
        width: 90%;
      }
    }
  }
}

// STYLING OF TOAST COMPONENT
.toast{
  z-index: 5;
  position: absolute;
  top: 3rem;
  right: 1rem;
  background-color: $white;
  color: $black;
  padding:0.5rem 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: $fade 0px 2px 3px;
  transition: all 1s ease-in ;
}
.toast-success{
  background-color: $green;
  color: $white;
}
.toast-failed{
  background-color: $red;
  color: $white;
}